<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <script src="./constants.js"></script>
    <title><%= projectName %></title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/load.js"></script>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
