@import '../../../grid';

$size: 170px;

.user-list {
  @include row-flex();

  &__card {
    @include col();
    @include col-size(3);
    @include col-size-w1600(4);
    @include col-size-w1200(6);
  }

  h1 {
    @include col();
    @include col-size(24);
    text-align: center;
    margin-bottom: 20px;
  }

  a.user {
    display: block;
    margin: 0 auto;
    width: $size;
    height: $size;
    border: 5px solid black;
    border-radius: 50%;
    background-image: url("/assets/nouserpic.svg");
    background-color: rgba(82,92,105,.23);
    background-size: 111px 124px;
    background-repeat: no-repeat;
    background-position: center;

    &.department {
      border-color: coral;
    }

    &.current {
      border-color: currentColor;
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      font-size: 0;
    }
  }

  &__buttons {
    text-align: center;
    margin: 15px 0;
  }
}
