@use '../../../grid' as grid;

$size: 170px;

.user-list {
  @include grid.row-flex();

  &__card {
    @include grid.col();
    @include grid.col-size(3);
    @include grid.col-size-w1600(4);
    @include grid.col-size-w1200(6);
  }

  h1 {
    @include grid.col();
    @include grid.col-size(24);
    text-align: center;
    margin-bottom: 20px;
  }

  .user {
    display: block;
    margin: 0 auto;
    width: $size;
    height: $size;
    border: 5px solid black;
    border-radius: 50%;
    background-color: rgba(82, 92, 105, 0.23);
    background-size: 111px 124px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      border-color: #185ccf;
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      font-size: 0;
    }
  }

  &__buttons {
    text-align: center;
    margin: 15px 0;
  }
}
