<form class="form-validation" [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Форма с валидацией</legend>
    <div class="form-error-wrapper">
      <input formControlName="name" type="text" placeholder="Имя" />
      @if (form.get('name')?.invalid && form.get('name')?.touched) {
        <div class="form-error-wrapper__error">
          @if (form.get('name')?.errors?.['required']) {
            <small>Поле обязательное!</small>
          }
        </div>
      }
    </div>
    <div class="form-error-wrapper">
      <input formControlName="email" type="text" placeholder="Электронная почта" />
      @if (form.get('email')?.invalid && form.get('email')?.touched) {
        <div class="form-error-wrapper__error">
          @if (form.get('email')?.errors?.['required']) {
            <small>Поле обязательное!</small>
          }
          @if (form.get('email')?.errors?.['email']) {
            <small>Не email!</small>
          }
        </div>
      }
    </div>
    <div class="form-error-wrapper">
      <input formControlName="password" type="text" placeholder="Пароль" />
      @if (form.get('password')?.invalid && form.get('password')?.touched) {
        <div class="form-error-wrapper__error">
          @if (form.get('password')?.errors?.['required']) {
            <small>Поле обязательное!</small>
          }
          @if (form.get('password')?.errors?.['minlength']) {
            <small>
              Не менее
              {{ form.get('password')?.errors?.['minlength']['requiredLength'] }}
              символов!
            </small>
          }
        </div>
      }
    </div>
    <div class="form-validation__buttons">
      <button type="reset">Сбросить</button>
      <button type="submit" [disabled]="form.invalid">Отправить</button>
    </div>
  </fieldset>
</form>
