.dev-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button-icon {
    text-decoration: none;
    transition: opacity .4s;
    opacity: .4;
    color: rgba(0, 0, 0, .5);

    &:first-child {
      margin-right: auto;
    }

    &:hover {
      opacity: 1;
    }
  }
}
