$columns = 24
$atom = (100% / $columns)

$break_w1600 = 1600px
$break_w1366 = 1366px
$break_w1200 = 1200px
$break_w992 = 992px
$break_w768 = 768px
$break_w480 = 480px
$break_w320 = 320px

$offset = 2%
$offset_w1600 = $offset
$offset_w1366 = $offset
$offset_w1200 = $offset
$offset_w992 = $offset
$offset_w768 = $offset
$offset_w480 = $offset
$offset_w320 = $offset

$offset_one_side = ($offset / 2)
$offset_w1600_one_side = ($offset_w1600 / 2)
$offset_w1366_one_side = ($offset_w1366 / 2)
$offset_w1200_one_side = ($offset_w1200 / 2)
$offset_w992_one_side = ($offset_w992 / 2)
$offset_w768_one_side = ($offset_w768 / 2)
$offset_w480_one_side = ($offset_w480 / 2)
$offset_w320_one_side = ($offset_w320 / 2)

$fields = 30px
$fields_w768 = 20px

wrapper-full()
  padding-left $fields
  padding-right $fields

  +w768-block()
    padding-left $fields_w768
    padding-right $fields_w768

row-offsets()
  margin-left ($offset_one_side * -1)
  margin-right ($offset_one_side * -1)

col-offsets($type)
  {$type}-left $offset_one_side
  {$type}-right $offset_one_side

wrapper()
  max-width 1920px
  margin 0 auto
  wrapper-full()

row-flex()
  display flex
  flex-wrap wrap
  row-offsets()

row-float()
  row-offsets()
  clearfix()

row-ib()
  row-offsets()

col()
  box-sizing border-box
  word-wrap break-word
  col-offsets(margin)

col-float()
  float left

col-ib()
  display inline-block
  vertical-align top

col-padding()
  word-wrap break-word
  col-offsets(padding)

col-size($n)
  width $atom * $n - $offset

col-size-w1600($n)
  w1600(width, $atom * $n - $offset_w1600)

col-size-w1366($n)
  w1366(width, $atom * $n - $offset_w1366)

col-size-w1200($n)
  w1200(width, $atom * $n - $offset_w1200)

col-size-w992($n)
  w992(width, $atom * $n - $offset_w992)

col-size-w768($n)
  w768(width, $atom * $n - $offset_w768)

col-size-w480($n)
  w480(width, $atom * $n - $offset_w480)

col-size-w320($n)
  w320(width, $atom * $n - $offset_w320)

shift($n)
  margin-left $atom * $n + $offset_one_side
  margin-right $atom * $n + $offset_one_side

shift-left($n)
  margin-left $atom * $n + $offset_one_side

shift-right($n)
  margin-right $atom * $n + $offset_one_side

shift-padding($n)
  padding-left $atom * $n + $offset_one_side
  padding-right $atom * $n + $offset_one_side

shift-padding-left($n)
  padding-left $atom * $n + $offset_one_side

shift-padding-right($n)
  padding-right $atom * $n + $offset_one_side

shift-w1600($n)
  w1600(margin-left, $atom * $n + $offset_w1600_one_side)
  w1600(margin-right, $atom * $n + $offset_w1600_one_side)

shift-w1600-left($n)
  w1600(margin-left, $atom * $n + $offset_w1600_one_side)

shift-w1600-right($n)
  w1600(margin-right, $atom * $n + $offset_w1600_one_side)

shift-w1600-padding($n)
  w1600(padding-left, $atom * $n + $offset_w1600_one_side)
  w1600(padding-right, $atom * $n + $offset_w1600_one_side)

shift-w1600-padding-left($n)
  w1600(padding-left, $atom * $n + $offset_w1600_one_side)

shift-w1600-padding-right($n)
  w1600(padding-right, $atom * $n + $offset_w1600_one_side)

shift-w1366($n)
  w1366(margin-left, $atom * $n + $offset_w1366_one_side)
  w1366(margin-right, $atom * $n + $offset_w1366_one_side)

shift-w1366-left($n)
  w1366(margin-left, $atom * $n + $offset_w1366_one_side)

shift-w1366-right($n)
  w1366(margin-right, $atom * $n + $offset_w1366_one_side)

shift-w1366-padding($n)
  w1366(padding-left, $atom * $n + $offset_w1366_one_side)
  w1366(padding-right, $atom * $n + $offset_w1366_one_side)

shift-w1366-padding-left($n)
  w1366(padding-left, $atom * $n + $offset_w1366_one_side)

shift-w1366-padding-right($n)
  w1366(padding-right, $atom * $n + $offset_w1366_one_side)

shift-w1200($n)
  w1200(margin-left, $atom * $n + $offset_w1200_one_side)
  w1200(margin-right, $atom * $n + $offset_w1200_one_side)

shift-w1200-left($n)
  w1200(margin-left, $atom * $n + $offset_w1200_one_side)

shift-w1200-right($n)
  w1200(margin-right, $atom * $n + $offset_w1200_one_side)

shift-w1200-padding($n)
  w1200(padding-left, $atom * $n + $offset_w1200_one_side)
  w1200(padding-right, $atom * $n + $offset_w1200_one_side)

shift-w1200-padding-left($n)
  w1200(padding-left, $atom * $n + $offset_w1200_one_side)

shift-w1200-padding-right($n)
  w1200(padding-right, $atom * $n + $offset_w1200_one_side)

shift-w992($n)
  w992(margin-left, $atom * $n + $offset_w992_one_side)
  w992(margin-right, $atom * $n + $offset_w992_one_side)

shift-w992-left($n)
  w992(margin-left, $atom * $n + $offset_w992_one_side)

shift-w992-right($n)
  w992(margin-right, $atom * $n + $offset_w992_one_side)

shift-w992-padding($n)
  w992(padding-left, $atom * $n + $offset_w992_one_side)
  w992(padding-right, $atom * $n + $offset_w992_one_side)

shift-w992-padding-left($n)
  w992(padding-left, $atom * $n + $offset_w992_one_side)

shift-w992-padding-right($n)
  w992(padding-right, $atom * $n + $offset_w992_one_side)

shift-w768($n)
  w768(margin-left, $atom * $n + $offset_w768_one_side)
  w768(margin-right, $atom * $n + $offset_w768_one_side)

shift-w768-left($n)
  w768(margin-left, $atom * $n + $offset_w768_one_side)

shift-w768-right($n)
  w768(margin-right, $atom * $n + $offset_w768_one_side)

shift-w768-padding($n)
  w768(padding-left, $atom * $n + $offset_w768_one_side)
  w768(padding-right, $atom * $n + $offset_w768_one_side)

shift-w768-padding-left($n)
  w768(padding-left, $atom * $n + $offset_w768_one_side)

shift-w768-padding-right($n)
  w768(padding-right, $atom * $n + $offset_w768_one_side)

shift-w480($n)
  w480(margin-left, $atom * $n + $offset_w480_one_side)
  w480(margin-right, $atom * $n + $offset_w480_one_side)

shift-w480-left($n)
  w480(margin-left, $atom * $n + $offset_w480_one_side)

shift-w480-right($n)
  w480(margin-right, $atom * $n + $offset_w480_one_side)

shift-w480-padding($n)
  w480(padding-left, $atom * $n + $offset_w480_one_side)
  w480(padding-right, $atom * $n + $offset_w480_one_side)

shift-w480-padding-left($n)
  w480(padding-left, $atom * $n + $offset_w480_one_side)

shift-w480-padding-right($n)
  w480(padding-right, $atom * $n + $offset_w480_one_side)

shift-w320($n)
  w320(margin-left, $atom * $n + $offset_w320_one_side)
  w320(margin-right, $atom * $n + $offset_w320_one_side)

shift-w320-left($n)
  w320(margin-left, $atom * $n + $offset_w320_one_side)

shift-w320-right($n)
  w320(margin-right, $atom * $n + $offset_w320_one_side)

shift-w320-padding($n)
  w320(padding-left, $atom * $n + $offset_w320_one_side)
  w320(padding-right, $atom * $n + $offset_w320_one_side)

shift-w320-padding-left($n)
  w320(padding-left, $atom * $n + $offset_w320_one_side)

shift-w320-padding-right($n)
  w320(padding-right, $atom * $n + $offset_w320_one_side)

w1600($name, $value)
  @media screen and (max-width: $break_w1600)
    {$name} $value

w1600-block()
  @media screen and (max-width: $break_w1600)
    {block}

w1366($name, $value)
  @media screen and (max-width: $break_w1366)
    {$name} $value

w1366-block()
  @media screen and (max-width: $break_w1366)
    {block}

w1200($name, $value)
  @media screen and (max-width: $break_w1200)
    {$name} $value

w1200-block()
  @media screen and (max-width: $break_w1200)
    {block}

w992($name, $value)
  @media screen and (max-width: $break_w992)
    {$name} $value

w992-block()
  @media screen and (max-width: $break_w992)
    {block}

w768($name, $value)
  @media screen and (max-width: $break_w768)
    {$name} $value

w768-block()
  @media screen and (max-width: $break_w768)
    {block}

w480($name, $value)
  @media screen and (max-width: $break_w480)
    {$name} $value

w480-block()
  @media screen and (max-width: $break_w480)
    {block}

w320($name, $value)
  @media screen and (max-width: $break_w320)
    {$name} $value

w320-block()
  @media screen and (max-width: $break_w320)
    {block}

from($min_width)
  @media screen and (min-width: $min_width)
    {block}

to($max_width)
  @media screen and (max-width: $max_width)
    {block}

from-to($min_width, $max_width)
  @media screen and (min-width: $min_width) and (max-width: $max_width)
    {block}

u-row-flex($offset)
  display flex
  flex-wrap wrap
  margin-left ($offset / -2)
  margin-right ($offset / -2)

u-col($offset)
  box-sizing border-box
  word-wrap break-word
  margin-left ($offset / 2)
  margin-right ($offset / 2)

u-size($n, $columns, $offset)
  width "calc(100% / %s * %s - %s)" % ($columns $n $offset)

reset()
  body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td
    margin 0
    padding 0
  
  table
    border-collapse collapse
    border-spacing 0
  
  fieldset,img,abbr
    border 0
  
  address,caption,cite,code,dfn,em,strong,th,var
    font-style normal
    font-weight normal
  
  ul li
    list-style none
  
  caption,th
    text-align left
  
  h1,h2,h3,h4,h5,h6
    font-size 100%
    font-weight normal
  
  sup
    vertical-align text-top
  
  sub
    vertical-align text-bottom
  
  input,textarea,select
    font-family inherit
    font-size inherit
    font-weight inherit
  
  legend
    color #000
  
  article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main
    display block
  
  img
    max-width 100%
    height auto

debug($background, $outline)
  height 100vh
  position fixed
  width 100%
  
  > div
    height inherit
    wrapper()
    
    > div
      height inherit
      row-flex()
      
      > div
        col()
        col-size(1)
        height inherit
        outline $outline
        background $background

clearfix()
  &::after
    display block
    content ""
    clear both
  
